<section class="invoice">

    <!-- Table row -->
    <div class="row">
        <div class="col-12 table-responsive">
            <table class="table table-striped">
                <thead>

                <tr>
                    <th>Eng/Tech</th>
                    <th>Device</th>
                    <th>Serial</th>
                    <th>Remove Foreign </th>
                    <th>Cracks ? </th>
                    <th>Broken Battery  </th>
                    <th>Damaged Battery  </th>
                    <th>Spare Battery  </th>
                    <th>Broken Cable  </th>
                    <th>Damaged Cable  </th>
                    <th>Spare Cable  </th>
                    <th>Other Inspections  </th>
                </tr>
                </thead>

                <tbody>
                <% report.forEach(rep =>{ %>
                    <% console.log(" asdasd ", rep.daily )%>
                    <% Object.keys(rep.daily).forEach(dev=>{ %>
                        <tr>
                            <td><%= rep.User.Name %>                </td>
                            <td><%= rep.daily[dev].Name     %>      </td>
                            <td><%= rep.daily[dev].Serial     %>    </td>
                            <td><%= rep.daily[dev].removed %>       </td>
                            <td><%= rep.daily[dev].cracks %>        </td>
                            <td><%= rep.daily[dev].broken     %>    </td>
                            <td><%= rep.daily[dev].damage     %>    </td>
                            <td><%= rep.daily[dev].spare    %>      </td>
                            <td><%= rep.daily[dev].broken_cable %>  </td>
                            <td><%= rep.daily[dev].damage_cable %>  </td>
                            <td><%= rep.daily[dev].spare_cable %>   </td>
                            <td><%= rep.daily[dev].other %>         </td>
                        </tr>
                    <% } ) %>
                <% })%>

                </tbody>
            </table>
        </div>
    </div>
</section>