<section class="invoice">

    <!-- Table row -->
    <div class="row">
        <div class="col-12 table-responsive">
            <table class="table table-striped">
                <thead>

                <tr>
                    <th>Device</th>
                    <th>Department</th>
                    <th>Eng/Tech</th>
                    <th>Dust Removal </th>
                    <th>Clean Surface </th>
                    <th>Lubricated  </th>
                    <th>Calibrated  </th>
                    <th>Replaced   </th>
                    <th>Adjustments  </th>
                    <th>Comments  </th>
                </tr>
                </thead>

                <tbody>

                <% report.forEach(rep =>{ %>
                    <% console.log(JSON.parse(rep.alert))%>
                    <tr>
                        <td><%= rep.Device.Name %>                   </td>
                        <td><%= rep.Department.Name %>               </td>
                        <% if (rep.User) {%>
                            <td><%= rep.User.Name %>                 </td>
                       <% }else{%>
                            <td>Any</td>
                            <%}%>
                        <%if (rep.ppm) {%>
                        <td><%= Boolean(JSON.parse(rep.ppm).clean_dust) %> </td>
                        <td><%= Boolean(JSON.parse(rep.ppm).clean_surface) %>       </td>
                        <td><%= Boolean(JSON.parse(rep.ppm).lubricated) %>       </td>
                        <td><%= Boolean(JSON.parse(rep.ppm).calibrated) %>       </td>
                        <td><%= JSON.parse(rep.ppm).desc_replaced %>       </td>
                        <td><%= JSON.parse(rep.ppm).desc_adjustments %>       </td>
                        <td><%= JSON.parse(rep.ppm).comments %>       </td>
                        <%} else{%>
                            <td><%=true%></td>
                            <td><%=true%></td>
                            <td><%=true%></td>
                            <td><%=true%></td>
                            <td>None</td>
                            <td>None</td>
                            <td>None</td>

                        <%}%>

                    </tr>
                <% })%>

                </tbody>
            </table>
        </div>
    </div>
</section>