<section class="invoice">

    <!-- Table row -->
    <div class="row">
        <div class="col-12 table-responsive">
            <table class="table table-striped">
                <thead>

                <tr>
                    <th>Device</th>
                    <th>Department</th>
                    <th>Eng/Tech</th>
                    <th>Description</th>
                    <th>Action</th>
                </tr>
                </thead>

                <tbody>

                <% for (var i = 0; i <= report.length; i++) { %>
                    <tr>
                        <td><%= report[i].dataValues.Device.Name%></td>
                        <td><%= report[i].dataValues.Department.Name%></td>
                        <td><%= report[i].dataValues.user.Name%></td>
                        <td><%= report[i].dataValues.alert.description%></td>
                        <td><%= report[i].dataValues.alert.action%></td>
                    </tr>
                <% } %>

                </tbody>
            </table>
        </div>
    </div>
</section>