<section class="invoice">

    <!-- Table row -->
    <div class="row">
        <div class="col-12 table-responsive">
            <table class="table table-striped">
                <thead>

                <tr>
                    <th>Device</th>
                    <th>Department</th>
                    <th>Eng/Tech</th>
                    <th>Description</th>
                    <th>Action</th>
                </tr>
                </thead>

                <tbody>

                <% for (var i = 0; i < report.length; i++) { %>
                <tr>
                    <td><%= report[i].Device.Name%></td>
                    <td><%= report[i].Department.Name%></td>
                    <td><%= report[i].user.Name%></td>
                    <td><%= report[i].daily.description%></td>
                    <td><%= report[i].daily.action%></td>
                </tr>
                <% } %>

                </tbody>
            </table>
        </div>
    </div>
</section>