<section class="invoice" >

    <!-- Table row -->
    <div class="row">
        <div class="col-12 table-responsive">
            <table class="table table-striped">
                <thead>

                <tr>
                    <th>Device</th>
                    <th>Department</th>
                    <th>Eng/Tech</th>
                    <th>Description</th>
                    <th>Action</th>
                </tr>
                </thead>

                <tbody>

                <% report.forEach(rep =>{ %>
                    <% console.log(JSON.parse(rep.alert))%>
                    <tr>
                        <td><%= rep.Device.Name %>                   </td>
                        <td><%= rep.Department.Name %>               </td>
                        <td><%= rep.User.Name %>                     </td>
                        <td><%= JSON.parse(rep.alert).description %> </td>
                        <td><%= JSON.parse(rep.alert).action %>       </td>
                    </tr>
                <% })%>

                </tbody>
            </table>
        </div>
    </div>
</section>

