<% layout('panel') -%>
<div class="col-md-12">
    <div class="card card-default">
        <div class="card-body">
            <div class="row-cols-1">
                <!--            Enter Your Content Here-->
                <!-- general form elements -->
                <div class="card card-primary">
                    <!-- /.card-header -->

                    <!-- form start -->
                    <form role="form" action="/workorder/add" method="post">
                        <div class="card-body">
                            <!-- Name -->
                            <div class="form-group">
                                <label for="name">Engineer Name</label>
                                <select name="engineer" class="form-control">
                                    <% for(var i=0; i<personnel.length; i++) {%>
                                        <option value="<%=personnel[i].id%>"> <%= personnel[i].firstName%>  <%= personnel[i].lastName%> </option>
                                        <%}%>

                                </select>
                            </div>
                            <div class="form-group">
                                <label for="department">Department</label>
                                <select name="department" class="form-control">
                                    <% for(var i=0; i<departments.length; i++) {%>
                                    <option value="<%=departments[i].id%>" ><%= departments[i].Name %></option>
                                    <%}%>
                                </select>

                            </div>

                            <div class="form-group">
                                <label for="device">Device</label>
                                <select name="device" class="form-control">
                                    <% for(var i=0; i<device.length; i++) {%>
                                        <option value="<%= device[i].id %>"><%= device[i].Name %> <%=device[i].Model%></option>
                                    <%}%>
                                </select>

                            </div>
                            <div class="form-group">
                                <label for="task">Task Needed</label>
                                <input type="text" class="form-control" name="task" placeholder="Please specify what is required">
                            </div>
                            <div class="form-group">
                                <label for="Date">Date</label>
                                <input type="date" class="form-control" name="Date" placeholder="Deadline Date">
                            </div>
                        </div>

                        <!-- /.card-body -->
                        <div class="card-footer">
                            <input type="hidden" name="WQclass" value="normal">
                            <button type="submit" class="btn btn-primary">Submit Task</button>
                        </div>
                    </form>
                </div>
                <!-- /.card -->

                <!--            Enter Your Content Here-->
            </div>
        </div>
    </div>
</div>