<% layout('panel') -%>

<div class="col-md-12">
    <div class="card card-default">
        <div class="card-body">

<!--            <div class="row-cols-4">-->
<!--                <div class="input-group input-group-sm" >-->
<!--                    <input type="text" name="table_search" class="form-control float-right" placeholder="Search">-->
<!--                    <div class="input-group-append">-->
<!--                        <button type="submit" class="btn btn-default"><i class="fas fa-search"></i></button>-->
<!--                    </div>-->
<!--                </div>-->
            <!-- Main content -->
                    <table id="work" class="table table-bordered table-striped table-hover">
                        <thead>
                        <tr>
                            <th>Engineer Name</th>
                            <th>Date</th>
                            <th>Device</th>
                            <th>Department</th>
                            <th>Task</th>
                            <th>Done</th>
                        </tr>
                        </thead>
                        <tbody>
                        <% for(var i = 0; i < workOrders.length; i++) { %>
                            <tr>
                                    <% if(workOrders[i].User){ %>
                                    <th><%= workOrders[i].User.Name %></th>
                                    <% }else{ %>
                                        <th>Any</th>
                                    <% } %>
                                    <th><%= workOrders[i].Date %></th>
                                    <% if(workOrders[i].Device){ %>
                                    <th><%= workOrders[i].Device.Name %></th>
                                    <% }else{ %>
                                        <th>All</th>
                                    <% } %>
                                    <% if(workOrders[i].Department){ %>
                                    <th><%= workOrders[i].Department.Name %></th>
                                    <% }else{ %>
                                        <th>All</th>
                                    <% } %>
                                    <th><%= workOrders[i].type %></th>
                                    <th><%= workOrders[i].State %></th>
                                <% } %>
                            </tr>
                        </tbody>
                    </table>
            <!-- /.card -->
            <!--
                                Enter Your Content Here-->
        </div>
        </div>
    </div>
<!-- /.content -->

<script> $(function () {
        $("#work").DataTable({
            "paging": true,
            "lengthChange": true,
            "searching": true,
            "ordering": true,
            "info": true,
            "autoWidth": false,
            "responsive": true,
        });
    })</script>