<% layout('panel') -%>

<div class="col-md-12">
    <div class="card card-default">
        <div class="card-body">

            <div class="row-cols-4">
                <div class="input-group input-group-sm" >
                    <input type="text" name="table_search" class="form-control float-right" placeholder="Search">
                    <div class="input-group-append">
                        <button type="submit" class="btn btn-default"><i class="fas fa-search"></i></button>
                    </div>
                </div>


            </div>

            <!-- Main content -->
            <div class="card">
                <!-- /.card-header -->
                <div class="card-body table-responsive p-0">
                    <table id="work" class="table table-head-fixed text-nowrap">
                        <thead>
                        <tr>
                            <th>Engineer Name</th>
                            <th>Date</th>
                            <th>Device</th>
                            <th>Department</th>
                            <th>Task</th>
                            <th>Done</th>
                        </tr>
                        </thead>
                        <tbody>
                        <% for(var i = 0; i < workOrders.length; i++) { %>
                        <tr>
                            <% if(workOrders[i].User){ %>
                            <th><%= workOrders[i].User.Name %></th>
                            <% }else{ %>
                                <th>Any</th>
                            <% } %>
                            <th><%= workOrders[i].Date %></th>
                            <% if(workOrders[i].Device){ %>
                            <th><%= workOrders[i].Device.Name %></th>
                            <% }else{ %>
                                <th>All</th>
                            <% } %>
                            <% if(workOrders[i].Department){ %>
                            <th><%= workOrders[i].Department.Name %></th>
                            <% }else{ %>
                                <th>All</th>
                            <% } %>
                            <th><%= workOrders[i].name %></th>
                            <% } %>
                        </tr>

                        </tbody>
                    </table>

                </div>
                <!-- /.card-body -->
            </div>
            <!-- /.card -->
            <!--            Enter Your Content Here-->
        </div>
    </div>
</div>
<!-- /.content -->

<% block('js').append('<script> $(function () {$("#work").DataTable({\n' +
        '      "paging": true,\n' +
        '      "lengthChange": true,\n' +
        '      "searching": true,\n' +
        '      "ordering": true,\n' +
        '      "info": true,\n' +
        '      "autoWidth": false,\n' +
        '      "responsive": true,\n' +
        '    });})</script>') %>