<% layout('panel') -%>
<div class="col-md-12">
    <div class="card card-default">
        <div class="card-body">
            <% if (user.isAdmin) { %>
                <div style="margin-bottom: 10px;" class="table-buttons">
                    <!-- Add New Department Button -->
                    <!-- Add New Device Button -->
                    <a type="button" class="btn btn-block btn-primary" href="/devices/add">
                        <i class="fas fa-plus"></i> Add
                    </a>

                    <!-- Delete All The Devices Button -->
                    <!--                    <a type="button" class="btn btn-block btn-danger" href="/devices/deleteAll">Erase Database</a>-->
                </div>
            <% } %>
            <!--            Enter Your Content Here-->
            <div class="col-md-12">
                <!-- Check length of devices list -->
                <!-- In case we found devices -->
                <% if (devices.length > 0) { %>
                    <!-- Devices Table -->
                    <table id="devicesTable" class="table table-bordered table-striped">
                        <!-- Headers -->
                        <thead>
                        <tr>
                            <th data-priority="1">Name</th>
                            <th data-priority="2">Model</th>
                            <th data-priority="3"> Serial</th>
                            <th>Import Date</th>
                            <th>Installation Date</th>
                            <th>Scrapping Date</th>
                            <th>Supplying Company</th>
                            <th>Department</th>
                            <th>PPM Interval</th>
                            <% if (user.isAdmin) { %>
                                <th>Delete</th>
                            <% } %>
                            <th data-priority="4">Alert</th>
                        </tr>
                        </thead>
                        <!-- /Headers -->

                        <!-- Table Rows -->
                        <tbody>
                        <% for (var i = 0; i < devices.length; i++) { %>
                            <% if (user.isAdmin) { %>
                            <tr>

                                    <td><%= devices[i].Name %></td>
                                    <td><%= devices[i].Model %></td>
                                    <td><%= devices[i].Serial %></td>
                                    <td><%= devices[i].ImportDate %></td>
                                    <td><%= devices[i].InstallationDate %></td>
                                    <td><%= devices[i].ScrappingDate %></td>
                                    <td><%= devices[i].SupplyingCompany %></td>
                                    <td><%= devices[i].Department.Name %></td>
                                    <td><%= devices[i].PPMInterval %></td>
                                    <td>
                                        <form action="/devices/delete" method="post">
                                            <input type="text" name="deviceID" value="<%= devices[i].id %>" hidden>
                                            <button type="submit" class="btn btn-block btn-danger">
                                                <i class="fas fa-trash-alt"></i>
                                            </button>
                                        </form>
                                    </td>
                                    <td>
                                        <form action="/devices/alert" method="post">
                                            <input type="text" name="deviceID" value="<%= devices[i].id %>" hidden>
                                            <button type="submit" class="btn btn-block btn-warning">
                                                <i class="fas fa-exclamation-triangle"></i>
                                            </button>
                                        </form>
                                    </td>
                            </tr>
                                <% } else if(user.DepartmentId === devices[i].DepartmentId()){ %>
                            <tr>
                                        <% console.log('Technician ', user.Name) %>
                                        <td><%= devices[i].Name %></td>
                                        <td><%= devices[i].Model %></td>
                                        <td><%= devices[i].Serial %></td>
                                        <td><%= devices[i].ImportDate %></td>
                                        <td><%= devices[i].InstallationDate %></td>
                                        <td><%= devices[i].ScrappingDate %></td>
                                        <td><%= devices[i].SupplyingCompany %></td>
                                        <td><%= devices[i].Department.Name %></td>
                                        <td><%= devices[i].PPMInterval %></td>
                                        <td>
                                            <form action="/devices/alert" method="post">
                                                <input type="text" name="deviceID" value="<%= devices[i].id %>" hidden>
                                                <button type="submit" class="btn btn-block btn-warning">
                                                    <i class="fas fa-exclamation-triangle"></i>
                                                </button>
                                            </form>
                                        </td>
                            </tr>

                                <% } %>
                        <% } %>
                        </tbody>
                        <!-- /Table Rows -->
                    </table>
                <% } else { %>
                    <h1>No Devices Found</h1>
                <% } %>
            </div>
            <!--            Enter Your Content Here-->
        </div>
    </div>
</div>

<script> $(function () {
        $("#devicesTable").DataTable({
            "paging": true,
            "lengthChange": true,
            "searching": true,
            "ordering": true,
            "info": true,
            "autoWidth": false,
            "responsive": true,
        });
    })</script>