<% layout('panel') -%>
<div class="col-md-12">
    <div class="card card-default">
        <div class="card-body">
            <div class="card-header">
                <h3 class="card-title">
                    <div>
                        <!-- Add New Device Button -->
                        <a type="button" class="btn btn-block btn-primary" href="/devices/add">Add New Device</a>

                        <!-- Delete All The Devices Button -->
                        <a type="button" class="btn btn-block btn-danger" href="/devices/deleteAll">Erase Database</a>
                    </div>
                </h3>
            </div>
            <div class="row">
                <!--            Enter Your Content Here-->

                <!-- Check length of devices list -->
                <!-- In case we found devices -->
                <% if (devices.length > 0) { %>
                    <!-- Devices Table -->
                    <div class="card">

                        <div class="card-body">
                            <table id="devicesTable" class="table table-bordered table-striped">
                                <!-- Headers -->
                                <thead>
                                    <tr>
                                        <th>Name</th>
                                        <th>Model</th>
                                        <th>Serial</th>
                                        <th>Import Date</th>
                                        <th>Installation Date</th>
                                        <th>Supplying Company</th>
                                        <th>Department</th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <!-- /Headers -->

                                <!-- Table Rows -->
                                <tbody>
                                <% for(var i=0; i<devices.length; i++) {%>
                                    <tr>
                                        <td><%= devices[i].Name %></td>
                                        <td><%= devices[i].Model %></td>
                                        <td><%= devices[i].Serial %></td>
                                        <td><%= devices[i].ImportDate %></td>
                                        <td><%= devices[i].InstallationDate %></td>
                                        <td><%= devices[i].SupplyingCompany %></td>
                                        <td>mfesh</td>
                                        <td><form action="/devices/delete" method="post">
                                                <input type="text" name="deviceID" value="<%= devices[i].id%>" hidden>
                                                <button type="submit" class="btn btn-block btn-danger">
                                                    <i class="fas fa-trash-alt"></i>
                                                </button>
                                            </form>
                                        </td>
                                    </tr>
                                <% } %>

                                </tbody>
                                <!-- /Table Rows -->

                            </table>

                        </div>
                        <!-- /.card-body -->

                    </div>
                    <!-- /.card -->

                <% }else{ %>
                    <h1>No Devices Found</h1>
                <% } %>

                <!--            Enter Your Content Here-->
            </div>
        </div>
    </div>
</div>