<% layout('panel') -%>
<div class="col-md-12">
    <div class="card card-default">
        <div class="card-body">
            <div > <!--            Enter Your Content Here-->
                <% if (personnel.length > 0) { %>
                    <% if (user.isAdmin) {%>
                        <div style="margin-bottom: 10px;" class="table-buttons">
                            <a type="button" class="btn btn-block btn-primary" href="/indoor">
                                <i class="fas fa-users"></i> Add Personnel
                            </a>
                        </div>
                    <% } %>
                        <div class="card-body">
                            <table id="pT" class="table table-bordered table-hover">
                                <thead>
                                <tr>
                                    <th>Name</th>
                                    <th>Email</th>
                                    <th>Birthday Date</th>
                                    <th>Role</th>
                                    <th>Phone Number</th>
                                    <th>Department</th>
                                    <th>Action</th>
                                </tr>
                                </thead>
                                <tbody>
                                <% for (var i = 0; i < personnel.length; i++) { %>
                                    <tr>
                                        <% if (user.isAdmin) { %>
                                        <% console.log("User is Admin ", user.isAdmin) %>

                                        <td><%= personnel[i].Name %></td>
                                        <td><%= personnel[i].Email      %></td>
                                        <td><%= personnel[i].birthday  %></td>
                                        <td><%= personnel[i].Title      %></td>
                                        <td><%= personnel[i].Phone      %></td>
                                        <td><%= personnel[i].Department.Name %></td>
                                        <td>
                                            <form action="/indoor/delete" method="post">
                                                <input type="text" name="personID" value="<%= personnel[i].id %>" hidden>
                                                <button type="submit" class="btn btn-block btn-danger">
                                                    <i class="fas fa-trash-alt"></i>
                                                </button>
                                            </form>
                                        </td>
                                        <% } else  { %>
                                            <% if (user.DepartmentId === personnel[i].DepartmentId) { %>
                                                <% console.log("PER", personnel[i])%>
                                                    <td><%= personnel[i].Name %></td>
                                                    <td><%= personnel[i].Email      %></td>
                                                    <td><%= personnel[i].birthday  %></td>
                                                    <td><%= personnel[i].Title      %></td>
                                                    <td><%= personnel[i].Phone      %></td>
                                                    <td><%= personnel[i].Department.Name %></td>
                                            <%} %>

                                        <%}%>
                                    </tr>
                                <% } %>
                            </tbody>
                            </table>
                        </div>

                <% } else { %>
                    <h1> 0 Personnel Found </h1>
                <% } %>
            </div>                 <!--            Enter Your Content Here-->
        </div>
    </div>
</div>


<% block('css').append('<link rel="stylesheet" href="/plugins/datatables-bs4/css/dataTables.bootstrap4.min.css">') %>
<% block('css').append('<link rel="stylesheet" href="/plugins/datatables-responsive/css/responsive.bootstrap4.min.css">') %>
<% block('js').append('<script src="/plugins/datatables/jquery.dataTables.min.js"></script>') %>
<% block('js').append('<script src="/plugins/datatables-bs4/js/dataTables.bootstrap4.min.js"></script>') %>
<% block('js').append('<script src="/plugins/datatables-responsive/js/dataTables.responsive.min.js"></script>') %>
<% block('js').append('<script src="/plugins/datatables-responsive/js/responsive.bootstrap4.min.js"></script>') %>
<% block('js').append('<script> $(function () {$("#pT").DataTable({\n' +
        '      "paging": true,\n' +
        '      "lengthChange": true,\n' +
        '      "searching": true,\n' +
        '      "ordering": true,\n' +
        '      "info": true,\n' +
        '      "autoWidth": false,\n' +
        '      "responsive": true,\n' +
        '    });})</script>') %>