<% layout('panel') -%>
<div class="col-md-12">
    <div class="card card-default">
        <div class="card-body">
            <% if (user.isAdmin) { %>
                <div class="table-buttons">
                    <!-- Add New Department Button -->
                    <a type="button" class="btn btn-outline-primary" href="/departments/add">
                        <i class="fas fa-plus"></i> Add
                    </a>
                    <!-- Delete All The Department Button -->
                    <a type="button" class="btn btn-danger" href="/departments/deleteAll">
                        <i class="fas fa-trash"></i> Erase All
                    </a>
                </div>
            <% } %>
            <!-- Check length of departments list -->
            <!-- In case we found departments -->
            <% if (departments.length > 0) { %>
                <!-- Departments Table -->
            <div class="col-md-12">
                <table id="departmentsTable" class="table table-bordered table-hover table-striped col-md-12">
                    <!-- Headers -->
                    <thead>
                    <tr>
                        <th>ID</th>
                        <th>Name</th>
                        <% if (user.isAdmin) { %>
                            <th>Action</th>
                        <% } %>
                    </tr>
                    </thead>
                    <!-- /Headers -->

                    <!-- Table Rows -->
                    <tbody>
                        <% for(var i=0; i<departments.length; i++) {%>
                            <tr>
                                <% if (user.isAdmin) { %>
                                    <td><%= departments[i].id %></td>
                                    <td><%= departments[i].Name %></td>
                                    <td><form action="/departments/delete" method="post">
                                            <input type="text" name="departmentID" value="<%= departments[i].id%>" hidden>
                                            <button type="submit" class="btn btn-block btn-danger">
                                                <i class="fas fa-trash-alt"></i>
                                            </button>
                                        </form>
                                    </td>
                                <% } else { %>
                                    <% if (user.DepartmentId === departments[i].id) { %>
                                        <td><%= departments[i].id %></td>
                                        <td><%= departments[i].Name %></td>
                                    <% } %>
                                <% } %>
                            </tr>
                        <% } %>
                    </tbody>
                                <!-- /Table Rows -->
                </table>

            <% }else{ %>
                <h1>No Departments Found</h1>
            <% } %>
            </div>
            <!--            Enter Your Content Here-->
        </div>
    </div>
</div>

<script> $(function () {
        $("#departmentsTable").DataTable({
            "paging": true,
            "lengthChange": true,
            "searching": true,
            "ordering": true,
            "info": true,
            "autoWidth": false,
            "responsive": true,
        });
    })</script> %>